<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by: Test. It uses mapbox.com and darksky.net to get the weather on your location.</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>

</html>